extends layout

block content

 .container
  .row.text-left(style={background: 'gray', padding: '16px', margin: "16px"})
   div(style= {"margin-bottom": "24px"}).col-md-8.col-md-offset-1.text-left
    span.text-left
     h2 #{objName} stats
     a(href="/api"): b API
   .col-md-12.text-left
    div(style={}): table.table.table-striped
     thead: tr(style= {background: "#221D23", color: 'white'})
      th Key
      th Value
     tbody
      each key in Object.keys(data)
       tr
        td #{key}
        td #{data[key]}